* {
	box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
}

body {
	position: relative;
	width: 100%;
	height: 100%;	
	margin: 0px;
	color: #fff;
	background-color: #e9eaed;
	font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 0.9rem;
	font-weight: 500;
}

.page-heading {
	text-align: center;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -50px;
}

.header {
	display: flex;	
	width: 100%;
	font-size: 1rem;
	background-color: #0d3880;
	text-align: center;
	box-sizing: border-box;
}

.content {
	width: 100%;
}

.roleStats {
	display: flex;
	flex-direction: row;
	margin: 0 -10px;
	margin-bottom: 10px;
}

.roleStat {
	background-color: #fff;
	margin-bottom: 10px;
	flex: 1;
	margin: 0 10px;
	height: 100px;
   	align-items: center;
   	justify-content: center;
}

.reviewCount {
	font-size: 44px;
	color: #666; 

}

table, td, tr {
   border: 1px solid black;
}

.tableStyles {
	font-size: 12px;
	color: #666;
}

.SummaryPanelCard {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: #ccc;
	color: #333;
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 15px;
		align-items: center;
    justify-content: center;
}

.SummaryPanelCardItem {
	/*border: solid thin #000;*/
	padding: 0px;
	align-items: center;
    justify-content: center;
}

#dashboard {
	align-self: center;
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}
.dashboard-box {
	flex:1;
	height: 238px;
	background: white;
	float: left;
	height:300px;
}
.dashboard-heading {
	height:40px;
	text-align: center;
}
.dashboard-heading div {
	vertical-align: middle;

	padding-top: 6px;
	font-size: x-large;

}
#dashboard-box1{
	background-color: #005BB6;
	background-image: url('images/australia.png');
	background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50% 80%;

}
#dashboard-box2{
	background-color: #ffffb3;	
}
#dashboard-box3{
	background-color: #ffe6f7;
}
#dashboard-box1 .dashboard-heading {
	background-color: #0d3880;
	color: white;
}
#dashboard-box1 .dashboard-content {
	
	
	color: #000000;
	font-weight: bold;
	font:70px bold;
	padding:70px 0 0 0;
	margin:0;
	font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}
#dashboard-box1 .dashboard-content H5 {
	margin:0;
	font-size:0.2em;
}
.dashboard-content div {
	color: black;
	font-size: 16px;
	/*margin-top: -20px;*/
}
/*#dashboard-box2 .dashboard-content div,
#dashboard-box3 .dashboard-content div {
	margin-top: 20px;
}*/
#dashboard-box3 .dashboard-content div.dashboard-details {
	font-size:10px;
}
#dashboard-box2 .dashboard-heading {
	background-color: #ffc600;
	color: white;
}

.dashboard-content {
	/*height: 202px;*/
	color: #0d3880;
	font-weight: bold;
	font:70px bold;
	padding-top:30px;
	font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	overflow:hidden;
	
}
.dashboard-content .frame-box{
	/*float:left;*/
	width:40%;	
	margin:0 auto 5px auto!important;

}
#dashboard-box3 .dashboard-heading {
	background-color: #e60278;
	color: white;
}
#dashbouard-box3 .top-reviews {
	text-align:left;
	width:250px;
	margin:0 auto;
}

.dashboard-heading H1{
	padding:0;
	margin:auto 0;
}

.dashboard-content .averages H3, {
	font-size:0.7em;
	font-weight:normal;
	margin:0;
}

.dashboard-content .averages H4, {
	font-size:0.7em;
	font-weight:normal;
	margin:0;
}
.rating-lvl {
	display:block;
	margin:5px auto;
	width:250px;
}

 .dashboard-content H2 {
 	margin:0 !important;
 }

.dashboard-content .averages {
	width:90%;
	display:block;
	clear:both;
	margin: 0 auto;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	text-align:left;
}

.dashboard-content .reviews-rol {
	display:block;
	width:400px;
	background:#18BFCE;
	padding:5px 0;
	margin:5px auto;
}

i {
	color: #ffc600;
}

.stackVertical {
	flex-direction: column;
}

.reviewSubContainer {
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	flex-direction: row;
	margin: 0 -10px;
}

.reviewSubBox {
	flex: 1;
	margin: 0 10px;
}

.menu {
	display: flex;	
	width: 100%;
	font-size: 1rem;
	background: #444;
	text-align: center;
	padding: 10 20 15 20;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;	
}

.centered {
	padding: 10 20 15 20;
	display: flex;
	flex-wrap: wrap;
}

.reviewCard {
	width: 100%;
	background-color: #fff;
	color: #333;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 15px;
}



.pageContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: flex-start
}

.roleTitleHeading {
	margin-top: 0px;
	margin-bottom: 10px;
}

.chartData {
	background-color: #fff;
	color: #333;
	margin: 0 0 10 0px;
	margin-bottom: 10px;
	padding: 1px 20px 16px;
}

.chartData #wrapper #yaxis text {
	font-size: 130%;
}

.filterPanel select {
	margin-top: 5px;
	width: 100%;
	height: 30px;
	font-size: 14px;
	border-radius: 3px;
}

.fa-male {
	color: #4590f9;
}

.fa-female {
	color: #f971b7;
}

.filterPanel input {
	margin-top: 5px;
	width: 100%;
	height: 30px;
	font-size: 14px;
}

button.primary {
	margin-top: 5px;
	width: 100%;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	background-color: #e60278;
	cursor: pointer;
	color: #fff;
	border: none;
	border-radius: 3px;
}

button.primary:hover {
	background-color: #fd0585;
}

button.secondary {
	margin-top: 5px;
	width: 100%;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	background-color: #eee;
	cursor: pointer;
	color: #333;
	border: none;
	border-radius: 3px;
}

button.secondary:hover {
	background-color: #ccc;
}

.filterPanel select.salary {
	width: initial;
	flex: 1;
}

.filterPanel .salaryRow {
	display:flex;
	flex-direction: row;
	align-items: baseline;
}

.filterPanel .salaryRow span {
		padding: 0 5px;
}

.rightColumn {
	flex: 3;
}

.filterPanel {
	background: #444;
	color: #fff;
	flex: 1;
	margin-right: 15px;
	padding: 30px 15px;
}

.reviewHeading {
	font-size: 18px;
	margin-bottom: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
}

li {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

li.menulink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.main {
	color: #444;
}


.footer {

  	width: 100%;
	background-color: #222;	
	padding: 10 0 0 0;
}

.footer,
.push {
  height: 50px;
}

@media screen and (min-width: 580px) {
    .main {
        padding: 10 80 20 80;
    }
}

	.chartData h2 {
		padding: 20px 0 0; 
		text-align: center;
	}
	
	.chartData h2 .facet {
		color: #B41782;
		font-size: 120%;
	}
	
	.chartmenu {
		height: 50px;
		width: 514px;
		font-size: 9px;
		padding: 7px;
		margin: 0 auto 30px;
	}

	.chartmenu ul {
		background-color: transparent;
	}

	/* set up the button based on a width of 150px and 100px height */
	.chartmenu ul li, .chartmenu ul li a{
	    display:block;
	    width:50px;
	    height:60px;
	    text-align:center;
	    background-position:center 0;
	    background-repeat: no-repeat;
	    padding: 0;
	    margin: 0;
	    text-decoration: none;
	}

	.chartmenu ul li{
	    float:left;
	}

	/* roll over - move the background image by the height of the button (100px) */
	.chartmenu ul li a:hover { /* background-position:0 -100px;*/ font-weight: bold; }

	/* active state - move the background image by twice height of the button (200px) */
	.chartmenu ul li a.active, .chartmenu ul li a.active:hover {  font-weight: bold; color: #B41782;
		/* background-position:0 -200px; */
	}

	/* define each button (background image and text position) */
	.chartmenu ul li a.overall
	{
	    background-image:url(images/rating30.png); /* define image url */
	    padding-top:32px; /* position the text using a combination of padding / height) */
	    height: 60px;
	}

	.chartmenu ul li a.career
	{
	    background-image:url(images/management30.png); /* define image url */
	    padding-top:32px; /* position the text using a combination of padding / height) */
	    height: 70px;
	}

	.chartmenu ul li a.balance
	{
	    background-image:url(images/work-life-balance30.png); /* define image url */
	    padding-top:32px; /* position the text using a combination of padding / height) */
	    height: 70px;
	}

	.chartmenu ul li a.management
	{
	    background-image:url(images/management30.png); /* define image url */
	    padding-top:32px; /* position the text using a combination of padding / height) */
	    height: 70px;
	}

	.chartmenu ul li a.benefits
	{
	    background-image:url(images/rating30.png); /* define image url */
	    padding-top:32px; /* position the text using a combination of padding / height) */
	    height: 70px;
	}

	.chartmenu ul li a.diversity
	{
	    background-image:url(images/diversity30.png); /* define image url */
	    padding-top:32px; /* position the text using a combination of padding / height) */
	    height: 70px;
	}

	.chartmenu ul li a.environment
	{
	    background-image:url(images/env30.png); /* define image url */
	    padding-top:32px; /* position the text using a combination of padding / height) */
	    height: 70px;
	}

	.chartmenu ul li a.salary
	{
	    background-image:url(images/salary30.png); /* define image url */
	    padding-top:32px; /* position the text using a combination of padding / height) */
	    height: 70px;
	}

	.chartmenu ul li a.all
	{
	    background-image:url(images/table30.png); /* define image url */
	    padding-top:32px; /* position the text using a combination of padding / height) */
	    height: 70px;
	}

	.chartmenu ul li a.explore
	{
	    background-image:url(images/chart30.png); /* define image url */
	    padding-top:32px; /* position the text using a combination of padding / height) */
	    height: 70px;
	}



	