* {
	box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
}

body {
	position: relative;
	width: 100%;
	height: 100%;	
	margin: 0px;
	color: #fff;
	background-color: #e9eaed;
	font-family: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 0.9rem;
	font-weight: 500;
}

.page-heading {
	text-align: center;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -50px;
}

.header {
	display: flex;	
	width: 100%;
	font-size: 1rem;
	background-color: #0d3880;
	text-align: center;
	box-sizing: border-box;
}

.content {
	width: 100%;
}

.roleStats {
	display: flex;
	flex-direction: row;
	margin: 0 -10px;
	margin-bottom: 10px;
}

.roleStat {
	background-color: #fff;
	margin-bottom: 10px;
	flex: 1;
	margin: 0 10px;
	height: 100px;
   	align-items: center;
   	justify-content: center;
}

body  {
        		font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
        	}
            #dashboard {
            	align-self: center;
            	width: 720px;
            }
            .box {
        		width: 240px;
        		height: 238px;
        		background: white;
        		float: left;
        	}
        	.heading {
        		height:36px;
        		text-align: center;
        	}
        	.heading div {
        		vertical-align: middle;
        		padding-top: 8px;
        	}
        	#box1{
        		background-color: #005BB6;
        	}
        	#box2{
        		background-color: #ffffb3;	
        	}
        	#box3{
        		background-color: #ffe6f7;
        	}
        	#box1 .heading {
        		background-color: #0d3880;
        		color: white;
        	}
        	#box1 .content {
        		height: 202px;
        		background-image: url('images/australia.png');
        		background-size: 100%;
        		color: #0d3880;
        		font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        		font-weight: bold;
        		font:70px bold;
        		padding-top:50px;
        	}
        	.content div {
        		font-size: 16px;
        		margin-top: -20px;
        	}
        	#box2 .heading {
        		background-color: #ffc600;
        		color: white;
        	}
        	#box3 .heading {
        		background-color: #e60278;
        		color: white;
        	}

i {
	color: #ffc600;
}

.reviewSubContainer {
	display: flex;
	flex-direction: row;
}

.reviewSubBox {
	flex: 1;
}

.menu {
	display: flex;	
	width: 100%;
	font-size: 1rem;
	background: #444;
	text-align: center;
	padding: 10 20 15 20;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;	
}

.centered {
	padding: 10 20 15 20;
	display: flex;
	flex-wrap: wrap;
}

.reviewCard {
	width: 100%;
	background-color: #fff;
	color: #333;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 15px;
}

.pageContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: flex-start
}

.roleTitleHeading {
	margin-top: 0px;
	margin-bottom: 10px;
}

.chartData {
	background-color: #fff;
	color: #333;
	margin: 10 0px;
	margin-bottom: 10px;
	height: 300px;
}
.filterPanel select {
	margin-top: 5px;
	width: 100%;
	height: 30px;
	font-size: 14px;
}

.filterPanel select.salary {
	width: 46.3%;
}

.rightColumn {
	flex: 1;
}

.filterPanel {
	background: #444;
	color: #fff;
	width: 300px;
	margin-right: 15px;
	padding: 30px 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
}

li {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

li.menulink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.main {
	color: #444;
}


.footer {

  	width: 100%;
	background-color: #222;	
	padding: 10 0 0 0;
}

.footer,
.push {
  height: 50px;
}

@media screen and (min-width: 580px) {
    .main {
        padding: 10 80 20 80;
    }
}

